<div class="modal fade mw-100 w-100 mx-auto" id="myModal">
  <div class="modal-dialog modal-dialog-centered mw-100 w-80">
    <div class="modal-content" style="background-color: rgba(0, 0, 0, 0)">
      <div class="container">
        <div class="row" style="padding-top: 5% !important">
          <div class="col">
            <div
              class="title mt-5"
              data-splitting="lines"
              style="background-color: rgba(0, 0, 0, 0)"
            >
              BRICK<br />
              BREAKER
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="buttons grey-with-red">
              <a class="purple-with-blue one-line" id="start_game"
                >START GAME</a
              >
              <a class="one-line" id="gamemode" data-gamemode="ARCADE"
                >GAMEMODE: ARCADE</a
              >
              <a class="one-line" id="difficulty" data-difficulty="0"
                >DIFFICULTY: NOOB</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
